# Usamos una versión moderna de la sintaxis de compose
version: '3.8'

# Aquí definimos todos nuestros servicios (cajas)
services:

  # --- SERVICIO DE BACKEND (Node.js + Prisma) ---
  backend:
    build:
      context: ./backend  # Busca el Dockerfile en la carpeta 'backend/'
    ports:
      # Mapea el puerto 3000 de tu PC al 3000 del contenedor
      - "3000:3000"
    volumes:
      # --- Volúmenes para Desarrollo (Hot-Reload) ---
      # 1. Sincroniza tu código local con el del contenedor
      - ./backend:/app/backend
      # 2. Excepción: no sobrescribas node_modules. Usa el de la imagen.
      - /app/backend/node_modules
    env_file:
      - ./backend/.env.docker # Ruta al archivo de variables de entorno
    command: npm run dev 

  # --- SERVICIO DE FRONTEND (React + Vite) ---
  frontend:
    build:
      context: ./frontend 
      target: dev
    ports:
      - "5173:5173"
    volumes:
      # 1. Sincroniza tu código local con el del contenedor
      - ./frontend:/app/frontend
      # 2. Excepción: no sobrescribas node_modules. Usa el de la imagen.
      - /app/frontend/node_modules
